.taskContainer {
    display: flex;
    min-width: 60vh;
    text-align: left;
    justify-content: flex-start;
    align-items: flex-start;
    transform: translate(-5%, 0);
    margin-top: 2.5rem;
}


.checkBox {
    margin: auto 5%;
}

input[type="checkbox"] {
    min-width: 30px;
    min-height: 30px;
    appearance: none;
    -webkit-appearance: none;
    background-color: white;
    border: 2px solid #616dee8a;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
}

input[type="checkbox"]:checked {
    background-color: #616dee;
}

input[type="checkbox"]:checked::after {
    content: "✓";
    font-size: 20px;
    color: white;
    position: absolute;
    right: 3px;
    top: -2px;
}

.taskDetails {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;
    min-width: 85vh;
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-weight: 400;
    font-style: light;
    color: #646464;
}

.taskInfo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.taskInfoCompleted {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-decoration: line-through;
    opacity: 0.6;
    color: #888;
}

.taskActions {
    display: flex;
    align-items: center;
    min-height: 100%;
}

.actionButton {
    min-width: 50px;
    min-height: 50px;
    margin: 0 0 0 5%;
    color: #575757;
    border: none;
} 